body {
 margin: 0;
 padding: 0;
 font-family: Lucida Grande, Verdana, Geneva, Sans-serif;
 font-size: 11px;
 color: #4F5155;
 background: #fff url(images/background.jpg) repeat-x left top;
}

a {
 color: #040E7A;
 background-color: transparent;
 text-decoration: none;
 font-weight: bold;
}

a:visited {
 color: #040E7A;
 background-color: transparent;
 text-decoration: none;
}

a:hover {
 color: #000;
 text-decoration: none;
 background-color: transparent;
}


#header {
 margin: 0;
 padding: 0;
}

#header_left {
 background-color: transparent;
 float: left;
 padding: 21px 0 0 32px;
 margin: 0
}

#header_right {
 background-color: transparent;
 float: right;
 text-align: right;
 padding: 35px 50px 20px 0;
 margin: 0
}

#footer {
 clear:both;
 padding: 0;
}

#footer p {
 font-size: 10px;
 color: #999;
 text-align: center;
}

#main_contaner {
	 
	 width: 100%;
	 margin: 0px 0px 0px 0px;
	 
	 
	
}

#outer_left {
 margin: 30px 40px 0 25px;
 float: left;
 max-width: 200px;
 
 margin: 
 
 
}


#outer_right {
 margin: 30px 40px 0 40px;
 float: left;
 width: 900px;
}

img {
 padding:0;
 border: 0;
 margin: 0;
}

.nopad {
 padding:0;
 border: 0;
 margin: 0;
}

table {
 background-color: #efefef;
}

th {
 background-color: #eee;
 font-weight: bold;
 padding: 6px;
 text-align: left;
}

td {
 background-color: #fff;
 padding: 6px;
}


form {
 margin: 0;
 padding: 0;
}

.input {
 font-family: Lucida Grande, Verdana, Geneva, Sans-serif;
 font-size: 11px;
 width: 600px;
 color: #333;
 border: 1px solid #B3B4BD;
 font-size: 11px;
 height: 2em;
 padding: 0;
 margin: 0;
}

.textarea {
 font-family: Lucida Grande, Verdana, Geneva, Sans-serif;
 font-size: 12px;
 width: 600px;
 color: #333;
 border: 1px solid #B3B4BD;
 padding: 0;
 margin: 0;
}

.select {
 background-color: #fff;
 font-size:  11px;
 font-weight: normal;
 color: #333;
 padding: 0;
 margin: 0 0 3px 0;
}

.checkbox {
 background-color: transparent;
 padding: 0;
 border: 0;
}

.submit {
 background-color: #040E7A;
 color: #FFF;
 font-weight: normal;
 border: 1px solid #000;
 margin: 6px 0 0 0;
 padding: 1px 5px 1px 5px;
}


.autocomplete-w1 { background:url(images/shadow.png) no-repeat bottom right; position:absolute; top:4px; left:3px; /* IE6 fix: */ _background:none; _top:1px; }
.autocomplete-w2 { padding:0 6px 6px 0; }
.autocomplete { width:300px; border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE specific: */ _height:350px;  _margin:0px 6px 6px 0; overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; }
.autocomplete strong { font-weight:normal; color:#3399FF; }
