body {
 margin: 0;
 padding: 0;
 font-family: Lucida Grande, Verdana, Geneva, Sans-serif;
 font-size: 12px;
 color: #4F5155;
 background: #fff url(images/background.jpg) repeat-x left top;
 background-size: 21px;
 :
}

a {
 color: #040E7A;
 background-color: transparent;
 text-decoration: none;
 font-weight: bold;
}

a:visited {
 color: #040E7A;
 background-color: transparent;
 text-decoration: none;
}

a:hover {
 color: #000;
 text-decoration: none;
 background-color: transparent;
}



#header {
 margin: 0;
 padding: 0;
}

#header_left {
 background-color: transparent;
 float: left;
 
 margin: 0
}

#header_right {
 background-color: transparent;
 float: right;
 text-align: right;
 padding: 35px 50px 20px 0;
 margin: 0
}

#main_contaner {
	
 	margin: 0;
 	padding: 0;
 	min-height: 450px;
 	min-width: 1300px;
	
}

#news_block {
	
	float:right;
	text-align:left;
	
	width: 300px;
	
}

#main_page {
	
	float:left;
	width: 900px;
	padding-right:20px;
	border-right: 2px solid #CCCCCC;
	
	
	 
	
}





#footer {
 margin: 20px 0 15px 0;
 padding: 0;
}

#footer p {
 font-size: 10px;
 color: #999;
 text-align: center;
}

#outer {
 margin: 30px 30px 0 40px;
}

img {
 padding:0;
 border: 0;
 margin: 0;
}

.nopad {
 padding:0;
 border: 0;
 margin: 0;
}

table {
 background-color: #efefef;
 width: 100%;
}

th {
 background-color: #eee;
 font-weight: bold;
 padding: 6px;
 text-align: left;
}

td {
 background-color: #fff;
 padding: 6px;
}


form {
 margin: 0;
 padding: 0;
}

.input {
 font-family: Lucida Grande, Verdana, Geneva, Sans-serif;
 font-size: 12px;
 width: 600px;
 color: #333;
 border: 1px solid #B3B4BD;
 font-size: 12px;
 height: 2em;
 padding: 0;
 margin: 0;
}

.textarea {
 font-family: Lucida Grande, Verdana, Geneva, Sans-serif;
 font-size: 12px;
 width: 600px;
 color: #333;
 border: 1px solid #B3B4BD;
 padding: 0;
 margin: 0;
}

.select {
 background-color: #fff;
 font-size:  12px;
 font-weight: normal;
 color: #333;
 padding: 0;
 margin: 0 0 3px 0;
}

.checkbox {
 background-color: transparent;
 padding: 0;
 border: 0;
}

.submit {
 background-color: #8B0D00;
 color: #FFF;
 font-weight: normal;
 border: 1px solid #000;
 margin: 6px 0 0 0;
 padding: 1px 5px 1px 5px;
}


div.magnifiable{color: #333;}
div.magnifiable:hover{font-size: 200%;}


/* Experimental data menu */

nav {
	background:#fff;
	margin-top:20px;
	position: relative;
}
 
nav ul.vertical {
	list-style:none;
	padding:0;
	margin:0;
	overflow:hidden;
}
 
nav > ul > li {
	float:below;
}
 
nav ul li a {
	text-decoration:strong;
	color:#040E7A;
	display:block;
	padding:10px 20px;
}
 
nav ul li a:hover {
	background:#fff;
}
 
nav > ul > li:hover div {
	display:table;
}
 

nav ul li div {
	width:1000px;
	position: static;
	left:0;
	background:#fff;
	box-sizing:border-box;
	display:none;
}
 
nav ul li div ul{
	width:20%;
	display:table-cell;
	border-right:1px transparent
	box-sizing:border-box;
}
 
nav ul li div ul:last-child {
	border:none;
}
 
nav ul li div ul .titulo {
	background:#fff;
	color:#000;
}
 
nav ul li div ul .titulo a {
	color:#fff;
	padding:10px 20px;
}
 
nav ul li div ul .titulo a:hover {
	background:none;
}
 
nav ul li div ul li a {
	color:#040E7A;
}
 
nav ul li div ul li a:hover {
	color:#000;
}



.autocomplete-w1 { background:url(images/shadow.png) no-repeat bottom right; position:absolute; top:4px; left:3px; /* IE6 fix: */ _background:none; _top:1px; }
.autocomplete-w2 { padding:0 6px 6px 0; }
.autocomplete { width:300px; border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE specific: */ _height:350px;  _margin:0px 6px 6px 0; overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; }
.autocomplete strong { font-weight:normal; color:#3399FF; }
